<CONFIG>
	<NAME>[Pre Alpha] UpLauncher</NAME>
	<STYLE>0</STYLE>
	<BG_PATH>images\bg.png</BG_PATH>
	<SIZE>695,395</SIZE>
	<BG_COLOR>240,0,200</BG_COLOR>
	<HIDDEN_COLOR>240,0,200</HIDDEN_COLOR>
	<ICON>images\favicon.ico</ICON>
	<BUTTON>
		<NAME>test</NAME>
		<LOCATION>0,0</LOCATION>
		<SIZE>100,20</SIZE>
		<BG_COLOR>240,0,0</BG_COLOR>
	</BUTTON>
</CONFIG>